#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "gotosocial"
name = "GoToSocial"
description.en = "Fast ActivityPub social network server"
description.gl = "Un servidor áxil para a rede social ActivityPub"
description.ca = "Un servidor de xarxa social basat en ActivityPub"
description.fr = "Serveur de réseau social véloce basé sur ActivityPub"

version = "0.17.3~ynh1"

maintainers = [ "OniriCorpe" ]

[upstream]
license = "AGPL-3.0-only"
website = "https://gotosocial.org/"
admindoc = "https://docs.gotosocial.org/en/latest/"
userdoc = "https://docs.gotosocial.org/en/latest/"
code = "https://github.com/superseriousbusiness/gotosocial"

[integration]
yunohost = ">= 11.2.18"
helpers_version = "2.1"
architectures = "all"
multi_instance = true
ldap = false
sso = false
disk = "50M"
ram.build = "200M"
ram.runtime = "100M"

[install]
[install.domain]
type = "domain"

[install.account_domain]
ask.en = "Choose the account domain"
ask.fr = "Choisissez le domaine de compte"
help.en = "Accounts will have the format `@user@account_domain.example`. Select the same as before if you do not want to use split-domains. Read carefully the documentation, domains exposed to federation are forever: https://docs.gotosocial.org/en/latest/advanced/host-account-domain/"
help.fr = "Les comptes auront le format `@user@domaine_de_compte.example`. Sélectionnez le même que précédemment si vous ne souhaitez pas utiliser de domaine séparé. Lisez attentivement la documentation, les domaines soumis à la fédération le sont pour toujours : https://docs.gotosocial.org/en/latest/advanced/host-account-domain"
type = "domain"

[install.admin]
ask.en = "Name your admin user for GoToSocial"
ask.gl = "Nome da usuaria administradora en GoToSocial"
ask.ca = "Nom pel compte d'administració de GoToSocial"
ask.fr = "Nommez votre compte administrateur pour GoToSocial"
help.en = "Must be in lower case and without special characters."
help.gl = "Ten que ser con minúsculas e sen caracteres especiais."
help.ca = "Ha de ser en minúscules i sense caràcters especials."
help.fr = "Doit être en minuscule et sans caractère special."
type = "string"
example = "johndoe"

[install.email]
ask.en = "The email adress of your admin account."
ask.gl = "O enderezo de correo electrónico da conta Admin."
ask.ca = "Adreça de correu pel compte d'administració."
ask.fr = "L'adresse e-mail de votre compte admin."
type = "string"
example = "johndoe@example.com"

[install.password]
help.en = "Must contain: upper case, lower case, number and special character."
help.gl = "Ten que conter: maiúscula, minúscula, número e caracteres especiais."
help.ca = "Ha de tenir: majúscules, minúscules, xifres i caràcters especials."
help.fr = "Il doit contenir : majuscule, minuscule, chiffre et caractère spécial."
type = "password"

[install.accounts_registration_open]
ask.en = "Open registration?"
ask.ar = "التسجيلات مفتوحة؟"
ask.gl = "Rexistro aberto?"
ask.ca = "Registres oberts?"
ask.fr = "Inscriptions ouvertes ?"
help.en = "Allow people to submit new sign-up / registration requests via the form at `/signup`."
help.gl = "Queres permitir que calquera poida solicitar unha conta (verdadeiro), ou queres que só sexa a través de convite (falso)?"
help.ca = "Voleu que la gent puguin enviar peticions de registre (true), o voleu que les registres es facin únicament per invitació (false)?"
help.fr = "Permettre aux personnes de déposer de nouvelles demandes d'inscription via le formulaire à l'adresse `/signup`."
type = "boolean"
default = false

[install.accounts_reason_required]
ask.en = "Request registration reason?"
ask.gl = "Requerir razón para crear conta?"
ask.ca = "Motiu de la petició de registre?"
ask.fr = "Demande de motif pour les inscriptions ?"
help.en = "Are sign up requests required to submit a reason for the request (eg., an explanation of why they want to join the instance)?"
help.gl = "Requerir que a solicitante indique un motivo á hora de solicitar a creación da conta. (ex., explicación de por que quere unirse á instancia)"
help.ca = "S'ha d'afegir un motiu a la petició de registre (per exemple, el motiu pel qual volen unir-se a la instància)?"
help.fr = "Les demandes d'inscription doivent-elles être accompagnée d'un motif (par exemple, une explication de la raison pour laquelle la personne veut rejoindre l'instance) ?"
type = "boolean"
default = true

[resources]
[resources.sources.main]
in_subdir = false
i386.url = "https://github.com/superseriousbusiness/gotosocial/releases/download/v0.17.3/gotosocial_0.17.3_linux_386_moderncsqlite.tar.gz"
i386.sha256 = "ec91713c7c0db546a1e6c94107cfc4d0403bc8938abf27cab4394dd2dc46dab8"
amd64.url = "https://github.com/superseriousbusiness/gotosocial/releases/download/v0.17.3/gotosocial_0.17.3_linux_amd64.tar.gz"
amd64.sha256 = "f7aa9c0cb3e3f9dd6355464f7038d3683023471e98fcddc46ca472a85a977f3b"
arm64.url = "https://github.com/superseriousbusiness/gotosocial/releases/download/v0.17.3/gotosocial_0.17.3_linux_arm64.tar.gz"
arm64.sha256 = "f8838ae7e1d89604c16ac19dba596d6d5f16646775eacf3bd17dcf815d3514eb"
armhf.url = "https://github.com/superseriousbusiness/gotosocial/releases/download/v0.17.3/gotosocial_0.17.3_linux_armv7_moderncsqlite.tar.gz"
armhf.sha256 = "e4014f00869e5041ac253c852f59b64cfaef13c5899ac1f04618458df6239069"

autoupdate.asset.i386 = "gotosocial_.*linux_386_moderncsqlite.tar.gz$"
autoupdate.asset.amd64 = "gotosocial_.*linux_amd64.tar.gz$"
autoupdate.asset.arm64 = "gotosocial_.*linux_arm64.tar.gz$"
autoupdate.asset.armhf = "gotosocial_.*linux_armv7_moderncsqlite.tar.gz$"
autoupdate.strategy = "latest_github_release"

[resources.system_user]
allow_email = true

[resources.install_dir]
group = "www-data:r-x"

[resources.data_dir]

[resources.permissions]
main.url = "/"
main.allowed = "visitors"
main.protected = true
main.show_tile = false

federation.additional_url = [ "__ACCOUNT_DOMAIN__/.well-known/webfinger", "__ACCOUNT_DOMAIN__/.well-known/host-meta", "__ACCOUNT_DOMAIN__/.well-known/nodeinfo" ]
federation.allowed = "visitors"
federation.protected = true
federation.show_tile = false

[resources.ports]

[resources.apt]
packages = "postgresql, postgresql-contrib"

[resources.database]
type = "postgresql"
